button{
  outline: none;
}

.playlistViewerHeader{
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: rgb(230, 230, 230);
  gap: 1rem;
}
.darkModeHeader{
  background-color: rgb(65, 65, 65);
}

.headerInnerContainer{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.playlistCover{
  border-radius: 5px;
  box-shadow: 4px 4px 16px 4px rgba(51, 51, 51, 0.5);
}
.darkModePlaylistCover{
  box-shadow: 4px 4px 16px 4px rgba(36, 36, 36, 0.9);
}
.playlistAboutSection{
  display: flex;
  flex-direction: column;
  min-width: 0;
  /* word-wrap: break-word; */
  gap: 0.5rem;
}

.playlistTitle{
  font-size: 50px;
  color: rgb(72, 72, 72);
  user-select: none;
}
.playlistInfo{
  font-size: 20px;
  color: rgb(72, 72, 72);
  user-select: none;
}
.darkModeText{
  color: rgb(255, 255, 255);
}
.headerBtns{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.headerBtns button, .headerBtns label{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: filter 0.2s ease-in-out, transform 0.1s ease-in-out;
  box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.284);
}
.headerBtns button:hover, .headerBtns label:hover,
.headerBtns button:focus, .headerBtns label:focus{
  filter: opacity(0.8);
}
.headerBtns button:active, .headerBtns label:active{
  transform: scale(0.85, 0.85);
}
.playlistBtns button:not(:active),  .playlistBtns label:not(:active){
  transform: scale(1, 1);
}