.song{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  min-height: 60px;
  transition: border 0.1s ease-in-out;
}
.songLeftSection{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: black;
}

.playBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  max-height: 35px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.1s ease;
}
.playBtn:hover,
.playBtn:focus{
  opacity: 0.6;
}
.playBtn:active{
  transform: scale(0.85);
}

.songInfo{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  user-select: none;
}
.songName{
  font-size: x-large;
}
.songLength{
  display: flex;
  align-items: start;
  gap: 1.5rem;
  text-align: right;
}
.removeSongBtn{
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: opacity 0.2s ease, transform 0.1s ease;
}
.removeSongBtn:hover,
.removeSongBtn:focus{
  opacity: 0.6;
}
.removeSongBtn:active{
  transform: scale(0.85);
}
.removeSongBtn:not(:active){
  transform: scale(1);
}

@keyframes glowing_neon_outline {
  0%{
    border: 2px solid aqua;
    box-shadow: 0px 0px 4px 4px rgba(0, 255, 255, 0.658);
  }
  50%{
    border: 2px solid rgba(0, 255, 255, 0.568);
    box-shadow: 0px 0px 4px 4px rgba(0, 241, 241, 0.212);
  }
  100%{
    border: 2px solid aqua;
    box-shadow: 0px 0px 4px 4px rgba(0, 255, 255, 0.658);
  }
}